#login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 0px 30px 10px;
  width: 100%;
}

#welcome {
  font-size: 23px;
  font-weight: 500;
  padding-top: 10px;
  padding-bottom: 4px;
}

form {
  display: flex;
  flex-direction: column;
  width: 93%;
}

#username-or-email {
  border: solid 1px #b0b0b0b0;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  height: 53px;
  font-size: 16px;
  padding-left: 10px;
}

#password {
  border: solid 1px #b0b0b0b0;
  border-top: none;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  height: 53px;
  font-size: 16px;
  padding-left: 10px;
  margin-bottom: 10px;
}

.continue {
  color: white;
  border: none;
  height: 40px;
  background: linear-gradient(
    to right,
    #e61e4d 0%,
    #e31c5f 50%,
    #d70466 100%
  );
  font-size: 16px;
  border-radius: 7px;
  padding: 14px 24px 34px 24px;
  cursor: pointer;
}
