.nav {
  height: 100px;
  position: sticky;
  text-decoration: none;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid grey;
  margin: 0px 115px 0px 115px;
}
