#new-spot-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 90%;
}

#pages {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  width: 640px;
  height: 100%;
}

#page-layout {
  width: 100%;
  height: 93%;
  display: flex;
  justify-content: center;
  overflow-y: scroll;
}

#page-layout::-webkit-scrollbar {
  display: none;
}

#page-layout {
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding-bottom: 100px;
}

@media only screen and (max-width: 700px) {
  #page-layout {
    width: 98vw;
  }

  #images-page {
    width: 95vw;
    display: flex;
    flex-direction: column;
  }

  #images-form {
    display: flex;
    flex-direction: column;
    width: 96%;
    padding: 0;
    margin-top: 15px;
  }
}
