#page-buttons {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 98vw;
  position: fixed;
  bottom: 0;
  background-color: #fff;
  border-top: solid 1px #f7f7f7;
  height: 60px;
}

.page-buttons {
  font-size: 16px;
  cursor: pointer;
}

.back {
  text-decoration: underline;
  border: unset;
  border-radius: 8px;
  background-color: unset;
  width: 60px;
  height: 40px;
}

.back:hover {
  background-color: #f7f7f7;
}

.next {
  color: #fff;
  background-color: #222222;
  width: 100px;
  height: 50px;
  border-radius: 8px;
}

.next:hover {
  background-color: #000;
}

@media only screen and (max-width: 700px) {
  #page-buttons {
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #fff;
    border-top: solid 1px #f7f7f7;
    height: 60px;
  }

  .next {
    margin-right: 8px;
  }
}
